{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["Android >= 5", "safari >= 7"],
        "uglify": true
      }
    }]
  ],
  "plugins": [["./libs/jsx.js", { "useVariables": true }]]
}
