{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["Android >= 4", "safari >= 7"],
        "uglify": true
      }
    }]
  ],
  "plugins": [["@syr/jsx", { "useVariables": true }]]
}
