# Dependencies
node_modules/
package-lock.json

# Webstorm IDE and text editors
.vscode/
.idea

build/
.DS_Store
ios/SyrNativeSample/SyrNativeSample.xcodeproj/xcuserdata/
ios/SyrNativeSample/SyrNativeSample.xcodeproj/project.xcworkspace/xcuserdata/
ios/SyrNativeSample/DerivedData/

ios/SyrNative/SyrNative.xcodeproj/project.xcworkspace/xcuserdata/
ios/SyrNative/SyrNative.xcodeproj/xcuserdata/

.nyc_output/

.*.swp
