body.homepage .container .col-md-3 {
  display: none;
}

.nav.navbar-nav:first-child > li:first-child {
  display: none;
}

@media(min-width: 992px) {
  body.homepage .container .col-md-9 {
    width: 100%;
  }
}

